* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.petr-container {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.petr {
    width: 10px;
    height: 10px;
    background-color: red;
}